---
permalink: /feed.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xml:lang="ja"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  <channel>
    <description>CSS Gridを使ったレイアウト例を紹介するサイトです。サイトの大枠の部分はもちろん、細かい部分でもCSS Gridを使うことができます。</description>
    <link>https://css-grid-layout-samples.netlify.com/</link>
    <managingEditor>macky1207@gmail.com (GeckoTang)</managingEditor>
    <title>CSS Gridを使ったレイアウト例</title>
    <atom:link href="https://pubsubhubbub.appspot.com/" rel="hub"/>
    <atom:link href="https://css-grid-layout-samples.netlify.com/feed/" rel="self"/>
    {%- for markup in markups %}
      {% set absoluteMarkupUrl %}{{ markup.slug | url | absoluteUrl('https://css-grid-layout-samples.netlify.com/markups/') }}{% endset %}
      <item>
        <description><![CDATA[{{ markup.readme.body }}]]></description>
        <link>{{ absoluteMarkupUrl }}</link>
        <pubDate>{{ markup.readme.attributes.publishDate | rssDate }}</pubDate>
        <title><![CDATA[{{ markup.readme.attributes.name }}]]></title>
      </item>
    {%- endfor %}
  </channel>
</rss>