---
layout: base.njk
permalink: /index.html
css: /css/index.css
---

<h2>このサイトは？</h2>
<p>CSS Gridを使ったレイアウト例を紹介するサイトです。サイトの大枠の部分はもちろん、細かい部分でもCSS Gridを使うことができます。</p>

<ul class="MarkupsList">
  {% for markup in markups %}
  <li>
    <h2><a href="/markups/{{markup.slug}}/">{{markup.readme.attributes.name}}</a></h2>
    <div class="Demo">
      <iframe class="Demo_View" srcdoc="{{ markup.html }}<style>{{ markup.css }}</style>"></iframe>
    </div>
  </li>
  {% endfor %}
</ul>