---
layout: base.njk
permalink: /index.html
---

<ul class="markup-list">
  {% for markup in markups %}
  <li>
    <h2><a href="/markups/{{markup.slug}}/">{{markup.slug}}</a></h2>
    <iframe srcdoc="{{ markup.html }}<style>{{ markup.css }}</style>"></iframe>
  </li>
  {% endfor %}
</ul>

<style>
.markup-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}
.markup-list li {
  margin: 0;
}
.markup-list h2 {
  font-size: 100%;
  font-weight: normal;
}
iframe[srcdoc] {
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}
</style>