---
layout: base.njk
pagination:
  data: markups
  size: 1
  alias: markup
permalink: /markups/{{ markup.slug | slug }}/index.html
renderData:
  title: "{{ markup.slug }}"
---
<h2>{{markup.slug}}</h2>

<h3>DEMO</h3>
<iframe srcdoc="{{ markup.html }}<style>{{ markup.css }}</style>"></iframe>

<h3>HTML</h3>
<pre><code class="html">{{ markup.html }}</code></pre>
<p>
  <a href="https://github.com/geckotang/css-grid-layout-samples/edit/master/src/markups/{{markup.slug}}/index.html">このHTMLへ修正リクエストをする</a>
</p>

<h3>CSS</h3>
<pre><code class="css">{{ markup.css }}</code></pre>
<p>
  <a href="https://github.com/geckotang/css-grid-layout-samples/edit/master/src/markups/{{markup.slug}}/index.css">このCSSへ修正リクエストをする</a>
</p>

<hr>

<nav>
  <ul>
    <li>
      <a href="/">戻る</a>
    </li>
  </ul>
</nav>

<style>
iframe[srcdoc] {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}
</style>
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/github.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>