---
layout: base.njk
pagination:
  data: markups
  size: 1
  alias: markup
permalink: /markups/{{ markup.slug | slug }}/index.html
renderData:
  title: "{{ markup.slug }}"
---
<h2>{{markup.slug}}</h2>

<h3>DEMO</h3>
<iframe srcdoc="{{ markup.html }}<style>{{ markup.css }}</style>"></iframe>

<h3>HTML</h3>
<pre><code class="html">{{ markup.html }}</code></pre>

<h3>CSS</h3>
<pre><code class="css">{{ markup.css }}</code></pre>


<hr>

<a href="/">Back</a>

<style>
iframe[srcdoc] {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}
</style>
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/github.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>