ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column dense;
  padding: 0;
  gap: 10px;
  list-style: none;
}

li { padding: 10px; }

li:nth-child(4n-1) {
  grid-row: 2;
}

img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 300px) {
  ul {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
  li:nth-child(4n-1) {
    grid-row: auto;
  }
}

/* 装飾 */
ul {
  max-width: 800px;
  margin: 0 auto;
}
li:nth-child(even) { border: 1px solid blue; }
li:nth-child(odd) { border: 1px solid green; }
li:nth-child(4n-1) { border: 1px solid red; }