<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}{% if renderData.title or title %} | {{ metadata.title}}{% endif %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap">
  <link rel="stylesheet" href="/css/common.css">
  {% if css%}
  <link rel="stylesheet" href="{{ css }}">
  {% endif %}
  <style>
  {{ localstyle | safe }}
  </style>
  <script src="https://kit.fontawesome.com/0807fbbc15.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="Site">
  <header class="Site_Header">
    <h1><a href="/">CSS Gridを使ったレイアウト例</a></h1>
  </header>
  <main class="Site_Content">
    {{ content | safe }}
  </main>
  <footer class="Site_Footer">
    <ul class="Site_FooterList">
      <li class="Site_FooterListItem">
        <a class="Site_FooterIcon" href="https://github.com/geckotang/css-grid-layout-samples/">
          <i class="fab fa-github"></i> GitHub
        </a>
      </li>
      <li class="Site_FooterListItem">
        <a class="Site_FooterIcon" href="/feed.xml">
          <i class="fas fa-rss"></i> RSS
        </a>
      </li>
    </ul>
  </footer>
</div>

</body>
</html>